@import url(normalize.css);
@font-face {
  font-family: 'Roboto Regular';
  src: url("../fonts/Roboto-Regular.eot");
  src: url("../fonts/Roboto-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/Roboto-Regular.woff2") format("woff2"), url("../fonts/Roboto-Regular.woff") format("woff"), url("../fonts/Roboto-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'Roboto Bold';
  src: url("../fonts/Roboto-Bold.eot");
  src: url("../fonts/Roboto-Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/Roboto-Bold.woff2") format("woff2"), url("../fonts/Roboto-Bold.woff") format("woff"), url("../fonts/Roboto-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal; }

@font-face {
  font-family: 'Roboto Thin';
  src: url("../fonts/Roboto-Thin.eot");
  src: url("../fonts/Roboto-Thin.eot?#iefix") format("embedded-opentype"), url("../fonts/Roboto-Thin.woff2") format("woff2"), url("../fonts/Roboto-Thin.woff") format("woff"), url("../fonts/Roboto-Thin.ttf") format("truetype");
  font-weight: 100;
  font-style: normal; }

@font-face {
  font-family: 'Roboto Medium';
  src: url("../fonts/Roboto-Medium.eot");
  src: url("../fonts/Roboto-Medium.eot?#iefix") format("embedded-opentype"), url("../fonts/Roboto-Medium.woff2") format("woff2"), url("../fonts/Roboto-Medium.woff") format("woff"), url("../fonts/Roboto-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal; }

@font-face {
  font-family: 'Roboto Italic';
  src: url("../fonts/Roboto-Italic.eot");
  src: url("../fonts/Roboto-Italic.eot?#iefix") format("embedded-opentype"), url("../fonts/Roboto-Italic.woff2") format("woff2"), url("../fonts/Roboto-Italic.woff") format("woff"), url("../fonts/Roboto-Italic.ttf") format("truetype");
  font-weight: normal;
  font-style: italic; }

*:focus {
  outline: #FFAA5A thin dotted; }

body {
  font-family: 'Roboto Regular', sans-serif;
  color: #8c9398;
  background-color: #fff;
  overflow-x: hidden;
  min-height: 100%; }

.container {
  max-width: 1170px;
  width: 100%;
  margin: 0 auto;
  padding: 0 15px;
  box-sizing: border-box; }

a {
  text-decoration: none;
  color: #fff; }

ul {
  list-style: none;
  padding: 0;
  margin: 0; }

.svg-sprite {
  display: none; }

.bg-hero {
  background-image: url("../assets/img/hero.png");
  background-size: cover;
  height: 100vh; }

/* header */
header {
  height: 120px;
  margin-bottom: 80px; }

header .container {
  display: flex;
  justify-content: space-between;
  text-align: center;
  align-items: center; }

.logo {
  font-size: 35px;
  text-transform: uppercase; }

header div,
header ul {
  display: flex; }

header div,
header nav ul {
  height: 100%; }

header nav a {
  font-size: 16px;
  padding: 5px;
  position: relative; }
  header nav a:hover {
    color: #FFAA5A;
    transition: .5s;
    animation-delay: 10s; }
  header nav a:hover::before {
    content: '';
    position: absolute;
    bottom: -10px;
    background: #FFAA5A;
    height: 3px;
    width: 100%;
    left: 0;
    transition: .5s all;
    animation-name: fadeIn;
    animation-duration: .5s; }

@keyframes fadeIn {
  from {
    width: 0; }
  to {
    width: 1; } }

header nav li {
  margin-left: 25px;
  display: flex;
  align-items: center; }

.hero .container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }
  .hero .container h1 {
    font-size: 50px;
    text-align: center;
    margin-bottom: 40px;
    color: #fff; }
  .hero .container p {
    font-size: 20px;
    color: #fff;
    margin-bottom: 80px;
    text-align: center; }
  .hero .container .call-to-action {
    font-family: 'Roboto Medium';
    font-size: 17px;
    text-transform: uppercase;
    text-align: center;
    background-color: #000;
    opacity: 0.5;
    padding: 15px 40px;
    margin-right: 20px; }
  .hero .container .call-to-action:hover {
    background-color: #FFAA5A;
    color: #000;
    transition: 0.6s; }

.wr-info .container {
  max-width: 100%;
  background-image: url(../assets/img/girl.jpg);
  background-repeat: no-repeat;
  background-position: right center;
  background-size: contain;
  height: 600px; }
  .wr-info .container .info {
    display: inline-block;
    width: 50%;
    padding: 100px;
    font-family: 'Roboto Thin', sans-serif;
    font-size: 20px; }
    .wr-info .container .info .start {
      font-family: 'Roboto Medium', sans-serif;
      color: #FFAA5A;
      letter-spacing: 2px; }
    .wr-info .container .info h5 {
      color: #353535;
      font-family: 'Roboto Medium', sans-serif;
      font-size: 30px;
      margin: 0 auto; }
      .wr-info .container .info h5 span {
        color: #FFAA5A; }

.wr-participants {
  padding-top: 70px;
  padding-bottom: 70px; }
  .wr-participants .container .participants-content .content p {
    font-size: 22px; }
  .wr-participants .container .participants-content .content .participants-icon {
    fill: #FFAA5A; }

.wr-details {
  padding-top: 70px;
  padding-bottom: 70px; }
  .wr-details .container .details {
    display: flex;
    justify-content: space-between;
    text-align: center; }
    .wr-details .container .details .details-content {
      margin-bottom: 30px; }
      .wr-details .container .details .details-content h3 {
        color: #353535;
        white-space: pre-line; }
      .wr-details .container .details .details-content .icon-wrapper {
        width: 140px;
        height: 140px;
        background-color: #242830;
        border-radius: 50%;
        margin-left: 45px;
        margin-bottom: 45px; }
        .wr-details .container .details .details-content .icon-wrapper svg {
          fill: #FFAA5A;
          margin-top: 45px; }
  .wr-details .container p {
    font-size: 11px;
    white-space: pre-line; }

h2 {
  position: relative;
  font-size: 40px;
  letter-spacing: 2px;
  text-transform: uppercase;
  text-align: center;
  color: #FFAA5A;
  margin-bottom: 85px; }

h2::before {
  content: '';
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: -30px;
  width: 70px;
  height: 10px;
  border-bottom: 2px solid #353535; }

.wr-info-partner {
  position: relative;
  background-image: url("../assets/img/kari-shea-QfAX7_xjxm4-unsplash.jpg");
  background-position: center center;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  padding-top: 50px;
  padding-bottom: 50px; }
  .wr-info-partner .container {
    position: relative; }
    .wr-info-partner .container h3 {
      font-size: 50px;
      color: #fff;
      text-align: center; }
      .wr-info-partner .container h3 a:hover {
        color: #FFAA5A; }
  .wr-info-partner::before {
    content: '';
    position: absolute;
    display: block;
    background-color: #242830;
    opacity: .7;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%; }

.wr-activity {
  background-color: #f3f5f8;
  padding-top: 70px;
  padding-bottom: 70px; }
  .wr-activity .container .cards {
    display: flex;
    justify-content: space-between; }
    .wr-activity .container .cards .activity {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      font-size: 13px;
      background: #fff;
      width: 350px;
      padding-top: 40px;
      padding-bottom: 45px;
      margin-bottom: 35px;
      border-radius: 5px;
      box-shadow: 3px 3px 6px 3px #242830, -3px -3px 6px 3px #242830;
      transition: 0.5s; }
      .wr-activity .container .cards .activity span {
        font-size: 20px;
        text-align: center;
        padding: 0 10px; }
      .wr-activity .container .cards .activity svg {
        fill: #FFAA5A;
        margin-bottom: 20px; }
    .wr-activity .container .cards .activity:hover {
      background-color: #242830;
      box-shadow: none;
      color: #fff;
      transition: 0.5s; }

.wr-target-group {
  position: relative;
  background-image: url("../assets/img/daan-stevens-KSdfplrJreg-unsplash.jpg");
  background-position: center center;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  padding-top: 50px;
  padding-bottom: 50px; }
  .wr-target-group .container {
    position: relative; }
    .wr-target-group .container h3 {
      font-size: 50px;
      color: #fff;
      text-align: center; }
      .wr-target-group .container h3 span {
        color: #FFAA5A; }
  .wr-target-group::before {
    content: '';
    position: absolute;
    display: block;
    background-color: #242830;
    opacity: .7;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%; }

.wr-taboo {
  padding-top: 70px;
  padding-bottom: 70px; }
  .wr-taboo .container .taboo-content {
    width: 900px;
    transform: translate(28%); }
    .wr-taboo .container .taboo-content p {
      font-family: 'Roboto Regular';
      white-space: pre-line;
      font-size: 22px; }
      .wr-taboo .container .taboo-content p .taboo-icon {
        position: relative;
        bottom: -13px;
        fill: #FFAA5A; }

.wr-bonuses {
  background-color: #f3f5f8;
  padding-top: 70px;
  padding-bottom: 70px; }
  .wr-bonuses .container .bonuses-content {
    text-align: center;
    white-space: pre-line;
    font-size: 20px; }
    .wr-bonuses .container .bonuses-content .first-row {
      display: flex;
      justify-content: space-around; }
      .wr-bonuses .container .bonuses-content .first-row .content {
        width: 350px; }
    .wr-bonuses .container .bonuses-content .second-row {
      display: flex;
      justify-content: space-around; }
      .wr-bonuses .container .bonuses-content .second-row .content {
        width: 350px; }
  .wr-bonuses .taboo-icon {
    fill: #FFAA5A; }

.wr-checkbox .container {
  max-width: 100%;
  background-image: url(../assets/img/boy.png);
  background-repeat: no-repeat;
  background-position: left center;
  background-size: contain;
  height: 650px;
  text-align: right; }
  .wr-checkbox .container .info {
    display: inline-block;
    width: 50%;
    padding: 100px;
    font-family: 'Roboto Thin', sans-serif;
    font-size: 20px;
    text-align: left; }
    .wr-checkbox .container .info p span {
      color: #FFAA5A;
      font-family: 'Roboto Medium', sans-serif; }
    .wr-checkbox .container .info p .checkbox-icons {
      fill: #FFAA5A; }
    .wr-checkbox .container .info .start {
      font-family: 'Roboto Medium', sans-serif;
      color: #FFAA5A;
      letter-spacing: 2px; }
    .wr-checkbox .container .info h5 {
      color: #353535;
      font-family: 'Roboto Medium', sans-serif;
      font-size: 30px;
      margin: 0 auto; }
      .wr-checkbox .container .info h5 span {
        color: #FFAA5A; }

.wr-new-idea {
  padding-top: 65px;
  padding-bottom: 60px;
  background-color: #242830; }
  .wr-new-idea .container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; }
    .wr-new-idea .container a {
      font-size: 15px;
      color: #fff;
      background-color: #242830;
      padding: 32px 42px 25px;
      border: 1px solid #fff;
      text-transform: uppercase;
      text-decoration: none;
      letter-spacing: 2px;
      transition: 0.5s; }
      @media screen and (max-width: 375px) {
        .wr-new-idea .container a {
          font-size: 10px;
          padding: 22px 32px 15px; } }
    .wr-new-idea .container a:hover {
      border: 1px solid #FFAA5A;
      background-color: #FFAA5A;
      transition: 0.5s; }

.wr-timer {
  padding-top: 80px;
  padding-bottom: 80px;
  background-image: url(../assets/img/pattern@1X.png); }
  .wr-timer .container .apply {
    color: orange;
    background-color: #C9232D;
    font-size: 30px; }
  .wr-timer .container .countdown-container {
    display: inline-block; }
    .wr-timer .container .countdown-container .number {
      display: inline-block;
      width: 200px;
      height: 200px;
      background-color: #2DB7E3;
      color: #fff;
      text-align: center;
      margin: 0 auto; }
    .wr-timer .container .countdown-container .number > span {
      font-size: 80px;
      text-align: center;
      line-height: 200px; }

.wr-footer {
  background-color: #242830;
  padding-top: 30px;
  padding-bottom: 30px; }
  .wr-footer .container .footer {
    display: flex;
    justify-content: space-between; }
    .wr-footer .container .footer .footer-link {
      color: #8c9398; }
    .wr-footer .container .footer .footer-link:hover {
      color: #FFAA5A; }
