@import "normalize.css";

@font-face {
    font-family: 'Roboto Regular';
    src: url('../fonts/Roboto-Regular.eot');
    src: url('../fonts/Roboto-Regular.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Roboto-Regular.woff2') format('woff2'),
        url('../fonts/Roboto-Regular.woff') format('woff'),
        url('../fonts/Roboto-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Roboto Bold';
    src: url('../fonts/Roboto-Bold.eot');
    src: url('../fonts/Roboto-Bold.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Roboto-Bold.woff2') format('woff2'),
        url('../fonts/Roboto-Bold.woff') format('woff'),
        url('../fonts/Roboto-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Roboto Thin';
    src: url('../fonts/Roboto-Thin.eot');
    src: url('../fonts/Roboto-Thin.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Roboto-Thin.woff2') format('woff2'),
        url('../fonts/Roboto-Thin.woff') format('woff'),
        url('../fonts/Roboto-Thin.ttf') format('truetype');
    font-weight: 100;
    font-style: normal;
}

@font-face {
    font-family: 'Roboto Medium';
    src: url('../fonts/Roboto-Medium.eot');
    src: url('../fonts/Roboto-Medium.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Roboto-Medium.woff2') format('woff2'),
        url('../fonts/Roboto-Medium.woff') format('woff'),
        url('../fonts/Roboto-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Roboto Italic';
    src: url('../fonts/Roboto-Italic.eot');
    src: url('../fonts/Roboto-Italic.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Roboto-Italic.woff2') format('woff2'),
        url('../fonts/Roboto-Italic.woff') format('woff'),
        url('../fonts/Roboto-Italic.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
}

// variables 
$color-dark: #353535;
$color-light: #8c9398;
$bg-color-dark: #242830;
$bg-color-grey: #f3f5f8;
$color-accent-orange: #FFAA5A;
$color-accent-blue: #2DB7E3;

$mobile: 375px;
$tablet: 1024px;

// mixins

@mixin flex-column () {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

@mixin flex-row () {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
}

@mixin flex-row-center () {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

*:focus {
    outline: $color-accent-blue thin dotted;
}

body {
    font-family: 'Roboto Regular', sans-serif;
    color: $color-light;
    background-color: #fff;
    overflow-x: hidden;
    min-height: 100%;
}

.container {
    max-width: 1170px;
    width: 100%;
    margin: 0 auto;
    padding: 0 15px;
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: #fff;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.svg-sprite {
    display: none;
}

// HERO

.bg-hero {
    background-image: url('../assets/img/hero.png');
    background-size: cover;
    height: 100vh;
}

/* header */

header {
    height: 120px;
    margin-bottom: 80px;
}

header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    font-size: 35px;
    text-transform: uppercase;
}

header div, header ul {
    display: flex;
}

header div, header nav ul {
    height: 100%;
}

header nav a {
    // font-family: 'Gentium Book Basic Bold';
    // text-transform: capitalize;
    font-size: 15px;
    padding: 5px;
}

header nav li {
    margin-left: 25px;
    display: flex;
    align-items: center;
}

header nav .active {
    border-bottom: 2px solid #c8c5bb;
    display: flex;
    align-items: center; 
}

/* section hero */

.hero {
    & .container {

        @include flex-column ();
        & h1 {
            font-size: 50px;
            text-align: center;
            margin-bottom: 40px;
            color: #fff;
        }
        & p {
            font-size: 20px;
            color: #fff;
            margin-bottom: 80px;
        }
        & .call-to-action {
            font-family: 'Lato Regular';
            font-size: 17px;
            text-transform: uppercase;
            text-align: center;
            background-color: rgba(0, 0, 0, 0.5);
            padding: 15px 40px;
            margin-right: 20px;
        }
    }
}

// INFO

.wr-info {
    & .container {
        max-width: 100%;
        background-image: url(../assets/img/info.png);
        background-repeat: no-repeat;
        background-position: right center;
        background-size: contain;
        height: 600px;

        & .info {
            display: inline-block;
            width: 50%;
            padding: 100px;
            font-family: 'Roboto Thin', sans-serif;
            font-size: 20px;

            & .start {
                font-family: 'Roboto Medium', sans-serif;
                color: $color-accent-orange;
                letter-spacing: 2px;
            }

            & h5 {
                color: $color-dark;
                font-family: 'Roboto Medium', sans-serif;
                font-size: 30px;
                margin: 0 auto;

                & span {
                    color: $color-accent-orange;
                }

            }
        }
    }
}

// DETAILS

.wr-details {
    padding-top: 70px;
    padding-bottom: 70px;
    & .container {
        
        & .details {
            @include flex-row-center ();
            text-align: center;
            & .details-content {

                & h3 {
                    color: $color-dark;
                }
                & .icon-wrapper {
                    width: 140px;
                    height: 140px;
                    background-color: $color-accent-blue;
                    border-radius: 50%;
                    margin-left: 45px;
                    margin-bottom: 45px;

                    & svg {
                        fill: #fff;
                        margin-top: 45px;
                    }
                }
            }
        }
    }
}

h2 {
    position: relative;
    font-size: 40px;
    letter-spacing: 2px;
    text-transform: uppercase;
    text-align: center;
    color: $color-accent-orange;
    margin-bottom: 85px;
}

h2::before {
    content: '';
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: -30px;
    width: 70px;
    height: 10px;
    border-bottom: 2px solid $color-dark;
}

// INFO PARTNER

.wr-info-partner {
    position: relative;
    background-image: url('../assets/img/orange-smoke-background.jpg');
    background-position: center center;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 50px;
    padding-bottom: 50px;

    & .container {
        position: relative;

        & h3 {
            font-size: 50px;
            color: #fff;
            text-align: center;

            & span {
                color: #C9232D;
            } 
        } 
    }   

    &::before {
        content: '';
        position: absolute;
        display: block;
        background-color: $bg-color-dark;
        opacity: .6;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
    }
}

// ACTIVITY

.wr-activity {

    background-color: $bg-color-grey;
    padding-top: 70px;
    padding-bottom: 70px;
    & .container {

        & .cards {
            @include flex-row();
            & .activity {
                @include flex-column();
                font-size: 13px;
                background: #fff;
                width: 350px;
                padding-top: 40px;
                padding-bottom: 45px;
                margin-bottom: 35px;
                border-radius: 5px;
                box-shadow: 3px 3px 6px 3px $color-accent-blue,
                -3px -3px 6px 3px $color-accent-blue;

                // box-shadow: 0 0 0 1px silver,
                // 0 -20px 0 -10px coral,
                // 20px 0 0 -10px coral,
                // 0 20px 0 -10px darkturquoise,
                // -20px 0 0 -10px darkturquoise;
                transition: 0.5s;

                & span {
                    font-size: 20px;
                    text-align: center;
                    padding: 0 10px;
                } 

                & svg {
                    fill: $color-accent-orange;
                    margin-bottom: 20px;
                }
            }

            & .activity:hover {
                background-color: $color-accent-blue;
                box-shadow: none;
                color: #fff;
                transition: 0.5s;
            }
        }
    }
}

// CHECKBOX

.wr-checkbox {
    & .container {
        max-width: 100%;
        background-image: url(../assets/img/checkbox.png);
        background-repeat: no-repeat;
        background-position: left center;
        background-size: contain;
        height: 650px;
        text-align: right;

        & .info {
            display: inline-block;
            width: 50%;
            padding: 80px;
            font-family: 'Roboto Thin', sans-serif;
            font-size: 18px;
            text-align: left;
    
            & p {

                & span {
                    color: $color-accent-orange;
                    font-family: 'Roboto Medium', sans-serif;
                }

                & svg {
                    fill: $color-accent-orange;
                }
            }

            & .start {
                font-family: 'Roboto Medium', sans-serif;
                color: $color-accent-orange;
                letter-spacing: 2px;
            }

            & h5 {
                color: $color-dark;
                font-family: 'Roboto Medium', sans-serif;
                font-size: 30px;
                margin: 0 auto;

                & span {
                    color: $color-accent-orange;
                }

            }
        }
    }
}

// TIMER
.wr-timer {
    padding-top: 80px;
    padding-bottom: 80px;
    background-image: url(../assets/img/pattern@1X.png);
    & .container {

        & .countdown-container {
                display: inline-block;
            & .number {
                display: inline-block;
                width: 200px;
                height: 200px;
                background-color: #2DB7E3;
                color: #fff;
                text-align: center;
                margin: 0 auto;
            }
            & .number>span {
                font-size: 80px;
                text-align: center;
                line-height: 200px;
            }
            
            & .apply {
                display: inline-block;
                color: orange;
                width: 200px;
                height: 200px;
                background-color: #C9232D;
                font-size: 30px;
            }
        }
    }
}