@import "normalize.css";

@font-face {
    font-family: 'Roboto Regular';
    src: url('../fonts/Roboto-Regular.eot');
    src: url('../fonts/Roboto-Regular.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Roboto-Regular.woff2') format('woff2'),
        url('../fonts/Roboto-Regular.woff') format('woff'),
        url('../fonts/Roboto-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Roboto Bold';
    src: url('../fonts/Roboto-Bold.eot');
    src: url('../fonts/Roboto-Bold.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Roboto-Bold.woff2') format('woff2'),
        url('../fonts/Roboto-Bold.woff') format('woff'),
        url('../fonts/Roboto-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Roboto Thin';
    src: url('../fonts/Roboto-Thin.eot');
    src: url('../fonts/Roboto-Thin.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Roboto-Thin.woff2') format('woff2'),
        url('../fonts/Roboto-Thin.woff') format('woff'),
        url('../fonts/Roboto-Thin.ttf') format('truetype');
    font-weight: 100;
    font-style: normal;
}

@font-face {
    font-family: 'Roboto Medium';
    src: url('../fonts/Roboto-Medium.eot');
    src: url('../fonts/Roboto-Medium.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Roboto-Medium.woff2') format('woff2'),
        url('../fonts/Roboto-Medium.woff') format('woff'),
        url('../fonts/Roboto-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Roboto Italic';
    src: url('../fonts/Roboto-Italic.eot');
    src: url('../fonts/Roboto-Italic.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Roboto-Italic.woff2') format('woff2'),
        url('../fonts/Roboto-Italic.woff') format('woff'),
        url('../fonts/Roboto-Italic.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
}

// variables 
$color-dark: #353535;
$color-light: #8c9398;
$bg-color-dark: #242830;
$bg-color-grey: #f3f5f8;
$color-accent-orange: #FFAA5A;
$color-accent-blue: #2DB7E3;

$mobile: 480px;
$tablet: 1024px;

// @media (min-width: $mobile) and (max-width: $tablet) {

// }

// mixins

@mixin flex-column () {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

@mixin flex-row () {
    display: flex;
    justify-content: space-between;
}

@mixin flex-row-center () {
    display: flex;
    justify-content: space-between;
    text-align: center;
}

*:focus {
    outline: $color-accent-orange thin dotted;
}

body {
    font-family: 'Roboto Regular', sans-serif;
    color: $color-dark;
    background-color: #fff;
    overflow-x: hidden;
    min-height: 100%;
}

.container {
    max-width: 1170px;
    width: 100%;
    margin: 0 auto;
    padding: 0 15px;
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: #fff;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.svg-sprite {
    display: none;
}

// HERO

.bg-hero {
    position: relative;
    background-image: url('../assets/img/hero.jpg');
    background-size: cover;
    background-position: 50% 100%;
    height: 100vh;
    min-height: 666px;

    &::before {
        content: '';
        position: absolute;
        display: block;
        background-color: $bg-color-dark;
        opacity: .5;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
    }
}

/* header */

header {
    height: 120px;
    margin-bottom: 75px;
}

header .container {
    @include flex-row-center();
    align-items: center;
}

.logo {
    position: relative;

    & img {
        width: 150px;
        height: auto;
    }

    @media screen and (max-width: $mobile) {
        margin: 0 auto;
    }
}

header div,
header nav ul {
    height: 100%;
    display: flex;

    @media screen and (max-width: $mobile) {
        display: none;
    }
}

header nav a {
    font-size: 16px;
    padding: 5px;
    position: relative;

    &:hover {
        color: $color-accent-orange;
        transition: .5s;
        animation-delay: 10s;
    }

    &:hover::before {
        content: '';
        position: absolute;
        bottom: -10px;
        background: $color-accent-orange;
        height: 3px;
        width: 100%;
        left: 0;
        transition: .5s all;
        animation-name: fadeIn;
        animation-duration: .5s;

        @keyframes fadeIn {
            from {
                width: 0;
            }

            to {
                width: 1;
            }
        }
    }

}


header nav li {
    margin-left: 25px;
    display: flex;
    align-items: center;
}

.hero {
    position: relative;

    & .container {
        position: relative;
        @include flex-column ();

        & h1 {
            font-size: 60px;
            text-align: center;
            margin-bottom: 40px;
            color: #fff;
            white-space: pre-line;

            & span {
                color: $color-accent-orange;
            }

            @media screen and (max-width: $mobile) {
                font-size: 35px;
                margin-bottom: 30px;

            }
        }

        & p {
            font-size: 20px;
            color: #fff;
            margin-bottom: 80px;
            text-align: center;
            white-space: pre-line;

            @media screen and (max-width: $mobile) {
                font-size: 16px;
                margin-bottom: 40px;
                white-space: normal;
            }
        }

        & .call-to-action {
            font-family: 'Roboto Medium', sans-serif;
            font-size: 17px;
            text-transform: uppercase;
            text-align: center;
            background-color: $color-accent-orange;
            color: #000;
            opacity: 0.8;
            padding: 20px 45px;

            @media screen and (max-width: $mobile) {

                padding: 15px 40px;
            }
        }

        & .call-to-action:hover {
            background-color: #000;
            color: #fff;
            transition: 0.6s;
        }

        @media screen and (max-width: $mobile) {
            width: 100%;
        }
    }
}

// INFO

.wr-info {
    & .container {
        max-width: 100%;
        background-image: url(../assets/img/girl.jpg);
        background-repeat: no-repeat;
        background-position: right center;
        background-size: contain;

        @media (min-width: $mobile) and (max-width: $tablet) {
            background-image: none;
        }

        @media screen and (max-width: $mobile) {
            background-image: none;
        }

        & .info {
            display: inline-block;
            width: 50%;
            padding: 80px 80px;
            font-family: 'Roboto Thin', sans-serif;
            font-weight: bold;
            font-size: 20px;

            & .start {
                font-family: 'Roboto Medium', sans-serif;
                color: $color-accent-orange;
                letter-spacing: 2px;
            }

            & h5 {
                color: $color-dark;
                font-family: 'Roboto Medium', sans-serif;
                font-size: 30px;
                margin: 0 auto;
                margin-bottom: 30px;

                & span {
                    color: $color-accent-orange;
                }

                @media screen and (max-width: $mobile) {
                    font-size: 20px;
                    margin-bottom: 15px;
                }

            }

            @media (min-width: $mobile) and (max-width: $tablet) {
                width: 100%;
                padding: 0;
            }

            @media screen and (max-width: $mobile) {
                width: 100%;
                padding: 0;
                font-size: 16px;
                text-align: justify;
            }
        }

    }

    @media (min-width: $mobile) and (max-width: $tablet) {
        padding-top: 50px;
        padding-bottom: 50px;
    }

    @media screen and (max-width: $mobile) {
        padding-top: 25px;
        padding-bottom: 25px;
    }
}

// INFO PARTNER

.wr-info-partner {
    position: relative;
    background-image: url('../assets/img/bg-info-partner.jpg');
    background-position: center center;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 50px;
    padding-bottom: 50px;

    & .container {
        position: relative;

        & h3 {
            font-size: 50px;
            color: #fff;
            text-align: center;

            & a:hover {
                color: $color-accent-orange;
            }

            @media screen and (max-width: $mobile) {
                font-size: 25px;
            }

            @media (min-width: $mobile) and (max-width: $tablet) {
                font-size: 40px;
            }
        }
    }

    &::before {
        content: '';
        position: absolute;
        display: block;
        background-color: $bg-color-dark;
        opacity: .7;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
    }

    @media (min-width: $mobile) and (max-width: $tablet) {
        padding-top: 30px;
        padding-bottom: 30px;
    }

    @media screen and (max-width: $mobile) {
        padding-top: 25px;
        padding-bottom: 25px;
        width: 100%;
    }
}

// PARTICIPANTS

.wr-participants {
    padding-top: 70px;
    padding-bottom: 70px;
    background-color: $bg-color-grey;

    & .container {
        position: relative;

        & .decoration-detail {
            position: absolute;
            width: 260px;
            right: 30px;
            top: 35px;

            @keyframes rotating {
                0% {
                    transform: rotate(0deg);
                }

                100% {
                    transform: rotate(360deg);
                }
            }

            @media (min-width: $mobile) and (max-width: $tablet) {
                display: none;
            }

            @media screen and (max-width: $mobile) {
                display: none;
            }
        }

        .decoration-detail:hover {
            animation: rotating 4s linear infinite;
            cursor: pointer;
        }

        & .participants-content {
            & .content {
                position: relative;

                & p {
                    font-size: 22px;
                    line-height: 1.2em;
                    padding-left: 50px;

                    @media screen and (max-width: $mobile) {
                        width: 100%;
                        font-size: 18px;
                        box-sizing: border-box;
                    }
                }

                & .participants-icon {
                    position: absolute;
                    fill: $color-accent-orange;
                    top: -7px;
                    left: 0;
                }
            }
        }
    }

    @media (min-width: $mobile) and (max-width: $tablet) {
        padding-top: 50px;
        padding-bottom: 50px;
    }

    @media screen and (max-width: $mobile) {
        padding-top: 25px;
        padding-bottom: 25px;
        width: 100%;
    }
}

// DETAILS

.wr-details {
    padding-top: 70px;
    padding-bottom: 70px;

    & .container {

        & .details {
            @include flex-row-center ();

            @media screen and (max-width: $mobile) {
                @include flex-column();
            }

            & .details-content {

                margin-bottom: 30px;

                & h3 {
                    color: $color-dark;
                    white-space: pre-line;

                    @media (min-width: $mobile) and (max-width: $tablet) {
                        font-size: 14px;
                    }
                }

                & .icon-wrapper {
                    width: 140px;
                    height: 140px;
                    background-color: $bg-color-dark;
                    border-radius: 50%;
                    margin-left: 40px;
                    margin-bottom: 45px;

                    & svg {
                        fill: $color-accent-orange;
                        margin-top: 45px;

                        @media screen and (max-width: $mobile) {
                            margin-top: 15px;
                        }
                    }

                    @media (min-width: $mobile) and (max-width: $tablet) {
                        margin: 0 auto;
                    }

                    @media screen and (max-width: $mobile) {
                        width: 80px;
                        height: 80px;
                        margin: 0 auto;
                    }
                }
            }
        }

        p {
            font-size: 13px;
            white-space: pre-line;
            text-align: center;

            @media screen and (max-width: $mobile) {
                white-space: normal;
            }
        }
    }

    @media (min-width: $mobile) and (max-width: $tablet) {
        padding-top: 50px;
        padding-bottom: 50px;
    }

    @media screen and (max-width: $mobile) {
        padding-top: 25px;
        padding-bottom: 25px;
    }
}

h2 {
    position: relative;
    font-size: 40px;
    letter-spacing: 2px;
    text-transform: uppercase;
    text-align: center;
    color: $color-accent-orange;
    margin-bottom: 85px;

    @media screen and (max-width: $mobile) {
        font-size: 20px;
        margin-bottom: 45px;
    }
}

h2::before {
    content: '';
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: -30px;
    width: 70px;
    height: 10px;
    border-bottom: 2px solid $color-dark;
}


// ACTIVITY

.wr-activity {

    background-color: $bg-color-grey;
    padding-top: 70px;
    padding-bottom: 70px;

    & .container {

        & .cards {
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: center;

            & .activity {
                @include flex-column();
                font-size: 13px;
                background: #fff;
                width: 330px;
                padding-top: 40px;
                padding-bottom: 45px;
                margin: 12px;
                border-radius: 5px;
                box-shadow: 3px 3px 6px 3px #ccc,
                    -3px -3px 6px 3px #ccc;
                transition: 0.5s;

                & span {
                    font-size: 20px;
                    text-align: center;
                    padding: 0 10px;
                    white-space: pre-line;

                    @media (min-width: $mobile) and (max-width: $tablet) {
                        white-space: pre-line;
                    }

                    @media screen and (max-width: $mobile) {
                        font-size: 16px;
                        white-space: normal;
                    }
                }

                & svg {
                    fill: $color-accent-orange;
                    margin-bottom: 20px;
                }

                @media (min-width: $mobile) and (max-width: $tablet) {
                    width: 300px;
                }

                @media screen and (max-width: $mobile) {
                    width: 90%;
                    padding-top: 20px;
                    padding-bottom: 25px;
                    margin-bottom: 15px;
                    font-size: 11px;
                }

            }

            & .activity:hover {
                background-color: $bg-color-dark;
                box-shadow: none;
                color: #fff;
                transition: 0.5s;
            }

            @media screen and (max-width: $mobile) {
                @include flex-column();
            }
        }
    }

    @media (min-width: $mobile) and (max-width: $tablet) {
        padding-top: 50px;
        padding-bottom: 50px;
    }

    @media screen and (max-width: $mobile) {
        padding-top: 25px;
        padding-bottom: 25px;
    }
}

// TARGET GROUP

.wr-target-group {
    position: relative;
    background-image: url('../assets/img/bg-target-group.jpg');
    background-position: center center;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 50px;
    padding-bottom: 50px;

    & .container {
        position: relative;

        & h3 {
            font-size: 40px;
            color: #fff;
            text-align: center;
            white-space: pre-line;

            & span {
                font-size: 45px;
                color: $color-accent-orange;

                @media (min-width: $mobile) and (max-width: $tablet) {
                    font-size: 35px;
                }

                @media screen and (max-width: $mobile) {
                    font-size: 18px;
                }
            }

            @media (min-width: $mobile) and (max-width: $tablet) {
                font-size: 32px;
                white-space: normal;
            }

            @media screen and (max-width: $mobile) {
                font-size: 18px;
                white-space: normal;
            }
        }
    }

    &::before {
        content: '';
        position: absolute;
        display: block;
        background-color: $bg-color-dark;
        opacity: .7;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
    }

    @media screen and (max-width: $mobile) {
        padding-top: 30px;
        padding-bottom: 30px;
    }
}

// TABOO

.wr-taboo {
    padding-top: 70px;
    padding-bottom: 70px;

    & .container {

        & .taboo-content {
            width: 700px;
            transform: translate(40%);

            p {
                position: relative;
                font-family: 'Roboto Regular', sans-serif;
                font-size: 22px;
                line-height: 1.2em;
                padding-left: 50px;

                & .taboo-icon {
                    position: absolute;
                    top: -5px;
                    left: 0;
                    fill: $color-accent-orange;
                }

                @media screen and (max-width: $mobile) {
                    font-size: 18px;
                    width: 100%;
                    transform: translate(0%);
                    box-sizing: border-box;
                    top: 0;
                }
            }

            @media (min-width: $mobile) and (max-width: $tablet) {
                width: 100%;
                transform: translate(0%);
                margin: 0;
            }

            @media screen and (max-width: $mobile) {
                width: 100%;
                transform: translate(0%);
                line-height: 0.5;
            }
        }
    }

    @media (min-width: $mobile) and (max-width: $tablet) {
        padding-top: 50px;
        padding-bottom: 50px;
    }

    @media screen and (max-width: $mobile) {
        line-height: 1;
        padding-top: 25px;
        padding-bottom: 25px;
    }

}

// BONUSES
.wr-bonuses {
    background-color: $bg-color-grey;
    padding-top: 70px;
    padding-bottom: 70px;

    & .container {

        & .bonuses-content {
            text-align: center;
            font-size: 20px;
            padding-bottom: 30px;

            & .bonuses-row {
                display: flex;
                flex-direction: row;
                flex-wrap: wrap;
                justify-content: center;

                & .content {
                    width: 330px;
                    border: 1px solid $color-accent-orange;
                    padding: 12px;
                    margin: 10px;
                }

                @media screen and (max-width: $mobile) {
                    font-size: 16px;
                }

            }
        }
    }

    & .taboo-icon {
        fill: $color-accent-orange;
    }

    @media (min-width: $mobile) and (max-width: $tablet) {
        padding-top: 50px;
        padding-bottom: 50px;
    }

    @media screen and (max-width: $mobile) {
        padding-top: 25px;
        padding-bottom: 25px;
        width: 100%;
    }
}

// TIMELINE

.wr-timeline {
    padding-top: 70px;
    padding-bottom: 70px;

    & .container {
        & .content {
            min-width: 300px;
            max-width: 500px;
            margin: auto;

            & p {
                position: relative;
                font-size: 18px;
                line-height: 1.5em;
                border-top: 3px solid;
                border-image: linear-gradient(to right, $color-light 0%, $color-accent-orange 100%);
                border-image-slice: 1;
                border-width: 3px;
                margin: 0;
                padding: 40px;
                counter-increment: section;

                @media screen and (max-width: $mobile) {
                    font-size: 16px;
                }

                &:before {
                    content: counter(section);
                    position: absolute;
                    border-radius: 50%;
                    padding: 10px;
                    height: 1.25em;
                    width: 1.25em;
                    background-color: $color-accent-orange;
                    text-align: center;
                    line-height: 1.25em;
                    color: #fff;

                    @media screen and (max-width: $mobile) {
                        display: none;
                    }
                }

                & span {
                    color: $color-accent-orange;
                    text-transform: uppercase;
                }
            }

            //odd number borders
            p:nth-child(odd) {
                border-right: 3px solid;
                padding-left: 0;

                &:before {
                    left: 100%;
                    margin-left: -20px;
                }
            }

            //even number borders
            p:nth-child(even) {
                border-left: 3px solid;
                padding-right: 0;

                &:before {
                    right: 100%;
                    margin-right: -20px;
                }
            }

            //handle first and last
            p:first-child {
                border-top: 0;
                border-top-right-radius: 0;
                border-top-left-radius: 0;
            }

            p:last-child {
                border-bottom-right-radius: 0;
                border-bottom-left-radius: 0;
            }
        }

        & a {
            color: $color-accent-orange;
        }
    }

    @media (min-width: $mobile) and (max-width: $tablet) {
        padding-top: 50px;
        padding-bottom: 50px;
    }

    @media screen and (max-width: $mobile) {
        padding-top: 25px;
        padding-bottom: 25px;
        padding: 0 5px;
    }
}

// CHECKBOX

.wr-checkbox {
    & .container {
        max-width: 100%;
        background-image: url(../assets/img/boy.png);
        background-repeat: no-repeat;
        background-position: left center;
        background-size: contain;
        text-align: right;


        & .info {
            display: inline-block;
            width: 50%;
            padding: 100px;
            text-align: left;

            & p {
                position: relative;
                font-family: 'Roboto Thin', sans-serif;
                font-size: 22px;
                font-weight: bold;
                padding-left: 50px;

                & .checkbox-icons {
                    position: absolute;
                    fill: $color-accent-orange;
                    top: -3px;
                    left: 0;
                }

                @media screen and (max-width: $mobile) {
                    font-size: 18px;
                }
            }

            & .start {
                font-family: 'Roboto Medium', sans-serif;
                color: $color-accent-orange;
                letter-spacing: 2px;
                padding-left: 0;
            }

            & h5 {
                color: $color-dark;
                font-family: 'Roboto Medium', sans-serif;
                font-size: 30px;
                margin: 0 auto;
                margin-bottom: 30px;

                @media screen and (max-width: $mobile) {
                    font-size: 20px;
                    margin-bottom: 15px;
                }

                & span {
                    color: $color-accent-orange;
                }

            }

            @media (min-width: $mobile) and (max-width: $tablet) {
                width: 100%;
                padding: 0;
            }

            @media screen and (max-width: $mobile) {
                width: 100%;
                padding: 0;
            }
        }

        @media (min-width: $mobile) and (max-width: $tablet) {
            background-image: none;
        }

        @media screen and (max-width: $mobile) {
            background-image: none;
        }
    }

    @media (min-width: $mobile) and (max-width: $tablet) {
        padding-top: 50px;
        padding-bottom: 50px;
    }

    @media screen and (max-width: $mobile) {
        padding-top: 25px;
        padding-bottom: 25px;
    }
}

// NEW IDEA
.wr-new-idea {

    padding-top: 65px;
    padding-bottom: 60px;
    background-color: $bg-color-dark;
    background-image: url('../assets/img/kalaurotka.png');
    background-size: 450px;
    background-position: center center;
    background-repeat: repeat;
    // background-size: cover;

    & .container {
        @include flex-column ();

        & a {
            font-size: 15px;
            color: #fff;
            background-color: $bg-color-dark;
            padding: 32px 42px 30px;
            border: 1px solid #fff;
            text-transform: uppercase;
            text-decoration: none;
            letter-spacing: 2px;
            transition: 0.5s;

            @media screen and (max-width: $mobile) {
                font-size: 10px;
                padding: 22px 32px;
            }
        }

        & a:hover {
            border: 1px solid #fff;
            background-color: $color-accent-orange;
            transition: 0.5s;
        }
    }
}

// TIMER
.wr-timer {
    padding-top: 100px;
    padding-bottom: 100px;
    background-color: $bg-color-grey;

    & .container {
        position: relative;

        & .decoration-detail {
            position: absolute;
            width: 300px;
            right: 85px;
            top: 5px;

            @keyframes rotating {
                0% {
                    transform: rotate(0deg);
                }

                100% {
                    transform: rotate(360deg);
                }
            }

            @media (min-width: $mobile) and (max-width: $tablet) {
                display: none;
            }

            @media screen and (max-width: $mobile) {
                display: none;
            }
        }

        .decoration-detail:hover {
            animation: rotating 3s linear infinite;
            cursor: pointer;
        }

        & .timer-content {

            & h5 {
                font-size: 40px;
                text-transform: uppercase;
                color: $color-accent-orange;
                margin: 0;
                margin-bottom: 40px;

                @media (min-width: $mobile) and (max-width: $tablet) {
                    text-align: center;
                }

                @media screen and (max-width: $mobile) {
                    font-size: 22px;
                    text-align: center;
                }
            }

            & p {
                width: 600px;
                font-size: 20px;
                color: $color-dark;
                text-align: justify;
                padding: 0 2px;

                & a {
                    color: $color-accent-orange;
                }

                @media (min-width: $mobile) and (max-width: $tablet) {
                    display: inline-block;
                }

                @media screen and (max-width: $mobile) {
                    width: 100%;
                    font-size: 18px;
                }
            }

        }

        @media (min-width: $mobile) and (max-width: $tablet) {
            text-align: center;
        }

        @media screen and (max-width: $mobile) {
            text-align: center;
        }

        & .apply {
            position: absolute;
            color: #fff;
            text-transform: uppercase;
            line-height: 50px;
            background-color: $color-accent-orange;
            font-size: 22px;
            border-radius: 3px;
            width: 200px;
            height: 50px;
            text-align: center;
            margin-bottom: 30px;
            padding: 20px 20px;
            right: 120px;
            bottom: -30px;

            @media (min-width: $mobile) and (max-width: $tablet) {
                position: static;
                display: inline-block;
                height: auto;
                line-height: 20px;
                margin-bottom: 0;

            }

            @media screen and (max-width: $mobile) {
                position: static;
                display: inline-block;
                width: 80%;
                height: auto;
                font-size: 20px;
                line-height: 20px;
                margin-bottom: 0;
            }

            &:hover {
                background-color: $color-accent-blue;
                transition: 0.5s;
            }
        }

        & .countdown-container {
            display: inline-block;

            & .number {
                display: inline-block;
                width: 140px;
                height: 140px;
                border-radius: 3px;
                background-color: $color-accent-blue;
                color: #fff;
                text-align: center;
                margin: 0 auto;
                margin-right: 7px;
            }

            & .number>span {
                font-size: 60px;
                text-align: center;
                line-height: 140px;
            }

            @media (min-width: $mobile) and (max-width: $tablet) {
                margin-bottom: 20px;
            }

            @media screen and (max-width: $mobile) {
                display: none;
            }

        }
    }

    @media screen and (max-width: $mobile) {
        padding-top: 25px;
        padding-bottom: 25px;
    }
}

// FOOTER

.wr-footer {
    background-color: $bg-color-dark;
    padding-top: 30px;
    padding-bottom: 30px;

    & .container {
        & .footer {
            @include flex-row();
            color: $color-light;

            @media screen and (max-width: $mobile) {
                @include flex-column();
                text-align: center;
            }

            & .footer-link {
                color: $color-light;
            }

            & .footer-link:hover {
                color: $color-accent-orange;
            }
        }
    }

    @media screen and (max-width: $mobile) {
        padding-top: 15px;
        padding-bottom: 15px;
    }
}